body {
  text-align: center;
  margin: 10px;
  background-color: #f9f8f6;
}

header {
  margin-bottom: 30px;
  font-family: Georgia, serif;
}

.headings > h1, h3 {
  margin: 8px;
}

.headings {
  margin: 20px;
}

select {
  background-color: white;
  font-family: Arial, sans-serif;
}

.list, .fifteen {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-column-gap: 1px;
  background-color: black;
}

.ten {
  grid-template-columns: repeat(2, auto);
}

.book {
  background-color: #f9f8f6;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10px;
  width: 30vw;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.ten > .book {
  width: 45.8vw;
}

.cover {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  margin: 0 auto;
  border: 1px solid black;
}

.no-image {
  width: 100px;
  height: 150px;
  border: 2px dashed black;
}

p {
  margin: 5px;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
}

.title {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.author {
  font-size: 1rem;
  font-family: Georgia, serif;
}

@media (max-width: 1024px) {
  .list {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f9f8f6;
    grid-gap: 0;
    border: none;
  }
  .book {
    width: 90vw;
    border: 2px solid black;
    margin: 5px auto;
  }
}
