body {
  text-align: center;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  border-bottom: 2px solid black;
  font-family: Georgia, serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headings > h1, h3 {
  margin: 0 8px 8px 8px;
}

.headings {
  margin: 0 15px 15px 15px;
}

h1 {
  font-size: 2.5rem;
  padding-top: 20px;
  letter-spacing: 0.03rem;
}

h3 {
  font-weight: normal;
}

select {
  height: 1.5rem;
  background-color: white;
  font-family: Arial, sans-serif;
  font-size: 8.5pt;
  letter-spacing: 0.03rem;
}

.list, .fifteen {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
  grid-column-gap: 1px;
  background-color: black;
}

.ten {
  grid-template-columns: repeat(2, auto);
}

.book {
  background-color: #f5f4f2;
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  padding: 10px;
  width: 30vw;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.ten > .book {
  width: 45.8vw;
}

.title {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 0 5px;
}

.author {
  font-size: 1rem;
  font-family: Georgia, serif;
  margin: 0 5px;
}

.cover {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  margin: 0 auto;
  border: 1px solid black;
}

.no-image {
  width: 100px;
  height: 150px;
  border: 2px dashed black;
}

.etc {
  margin: 5px;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
}

footer {
  height: 40px;
  border-top: 2px solid black;
}

@media (max-width: 1280px) {
  .list {
    border: none;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2.1rem;
  }

  header {
    display: block;
    padding-bottom: 25px;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f5f4f2;
    grid-gap: 0;
    border: none;
  }
  .book {
    width: 90vw;
    border: 2px solid black;
    margin: 7px auto;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0 0 25px 0;
  }

  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .cover {
    grid-column: 1 / 2;
    grid-row: 2 / 6;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 1.7rem;
  }

  .author {
    font-size: 0.95rem;
  }

  .rating {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
  }
}
