body {
  text-align: center;
  margin: 10px;
  background-color: #fffefc;
}

header {
  margin-bottom: 30px;
  font-family: serif;
}

select {
  background-color: white;
}

.no-image {
  width: 120px;
  height: 170px;
  border: 2px solid black;
}

.book {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  margin: 10px auto;
  width: 60vw;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.cover {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  margin: 0 auto;
}

.book p {
  margin-top: 10px;
}

.book span {
  font-weight: bold;
  font-size: 1.3em;
}
